<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="utf-8">
</head>
<body>
	<main th:object="${order}">
		<div class="panel panel-primary">
			<div class="panel-heanding">ORDER INFORMATION</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-sm-4">
						<div>ORDER MUNBER:</div>
						<input th:field="*{id}" class="form-control" readonly="readonly" >
					</div>
						<div class="form-group col-sm-4">
						<div>PURCHASER:</div>
						<input th:field="*{account.username}" class="form-control" readonly="readonly" >
					</div>
						<div class="form-group col-sm-4">
						<div>PURCHASER DATE:</div>
						<input th:field="*{createDate}" class="form-control" readonly="readonly" >
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<div>SHOPPING ADDRESS:</div>
						<textarea th:field="*{address}" class="form-control"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heanding">ORDER LINES</div>
			<table class="table">
			<thead>
					<tr>
						<td>id</td>
						<td>name</td>
						<td>price</td>
						<td>quantity</td>
						<td>amount</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="detail:*{orderDetails}" th:object="${detail}">
						<td>[[*{product.id}]]</td>
						<td>[[*{product.name}]]</td>
						<td>[[*{#numbers.formatDecimal(price,0,'COMMA',2,'POINT')}]]</td>
						<td>[[*{quantity}]]</td>
						<td>[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>
</html>