<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" th:fragment="dynamic(vew)">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<nav class="navbar navbar-inverse" style="font-variant: small-caps;">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/store/home}">Home</a></li>
				<th:block th:if="${#request.remoteUser}">
				    <li><a th:href="@{/security/logoff}">Sign Out</a></li>
					<li><a th:href="@{/order/list}">Your Orders</a></li>
					<li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
					<a th:href="@{/admin/home/index}">Administration</a></li>
				</th:block>
				<th:block th:unless="${#request.remoteUser}">
						<li><a th:href="@{/security/login/form}">Sign In</a></li>
				</th:block>
			</ul>
			<ul th:if="${#request.remoteUser}" class="nav navbar-nav navbar-right">
				<li><a href="#">Welcome [[${#request.remoteUser}]]</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>